
.info {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

ul {
  margin: 0 0 0 30px;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoTexts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  }

.imgInfo {
  width: 494px;
  height: 494px;
}

.infoDark
{
  background-color: #2B2B2B;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:  60px 150px;
  gap: 34px;
  h1 {
    font-size: 36px;
    color: #ffffff;
  }
}

.infoDarkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
}

.infoDarkText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.tb {
  padding: 70px 80px;
  h1 {
    color: #000000;
  }
}

.tbContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.tbText {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tbMedia {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 1212px) {
  .infoContainer {
    flex-direction: column;
  }
  .infoDarkContainer {
    flex-direction: column;
  }
  .tbContainer {
    flex-direction: column;
  }
}