.graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.graph {
  background-color: #EDEDED;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 400px;
  height: 400px;
  text-align: center;
}

.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminPage {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.adminPage h1 {
  width: 100%;
  font-size: 2rem;
  color: black;
}

.adminLogo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.logoConfig {
  display: flex;
  align-items: end;
  gap: 20px;
  justify-content: center;
}
.logoConfig p {
  white-space: nowrap;
}

.adminCarrousel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.carrousel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.carrouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carrouselContainer img {
  width: 290px;
}

.sections {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
} 
