.statsConfig {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;

}

.statsConfig h1 {
  text-align: center;
  color: black;
}

.container {
  width: 956px;
  background-color: #D9D9D9;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputContainer {
  display: flex;
}
.inputContainer label {
  flex: 1;
}
.inputContainer input {
  width: 587px;
}

.imageContainer {
  width: 587px;
  display: flex;
  align-items: end;
  gap: 10px;
}

.imageContainer img {
  width: 200px;
}

.options {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
}